/* Root layout */
#root{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--bg-50);
	color: var(--text-800);
}

/* Global transition utilities */
.transition {
	transition: all 0.2s ease-in-out;
}

